/*  your css code here. If applicable */

div {
	background-color:#f8f8f8;
}

h1 {
	text-align:center;
}
h3 {
	margin-bottom:0px;
    
}

.book-library {
	background-color:#ffffff;
	width:80%;
	display:block;
	margin:0 auto;
	
	
}

img {
  display: block;
   margin:0 auto;
	padding:20px;
}

.book {
	background-color: #ffffff;
}

.author {
	color:#777777;
	margin-top:0px;
	margin-bottom:0px;
}

.price-block {
	background-color:#2ecc71;
	margin:0px;
	text-align:center;
	padding:5px;
}